
.main{
display: flex;
background-color:black;
height: 700px;

}


.container{

/* display: flex; */
    background: #0483e0;
    width: 50%;
    height: 200px;
    box-shadow: 0 0 5px;
    margin: auto;
    border: 1px solid;
    order: -1;
    border-radius: 4%;
    flex: 0 1 48%;
    margin-top: 20%;
    

}
.header{
color: #00d3b9;
margin: 0%;
margin-left: 25% ;
font: 1em sans-serif;
font-size: 150%;
margin-top: 2%;


}
.input1{
  
  margin-top: 10%;
  border: 1px solid;
  background-color: white;
  height:30px;
  margin-left: 15%;
  width: 33%;
  border-radius: 10%;
  margin: 40px;


}
.input2 {
margin-top: 0%;
margin-right: 9%;
border: 1px solid;
background-color: white;
height:30px;
width: 33%;
border-radius: 10%;
margin: 40px;
}
.Getvalue{
  display: flex;
  margin: 4%;
   width: 80%;
  margin-top: -20%;
  margin-left: 30%;
  background-color: #0900f4;
  color: white;
  border-radius: 10%;
  height:23px;
 
}
/* .changer{
  margin-top: 0%;
  color :white;
  margin-left: 45%;
  width: 30px;
  background-color:white;

} */
.output{

  margin-left: 35%;
  width: 18%;
}
.abc{
  width: 30%;
  background-color: #00d3b9;
  margin-left : 40%;
  margin-top: 14%;
 
}
.Div{
  /* display: flex; */
  margin: 4%;
   width: 40%;
  margin-top: -20%;
  margin-left: -120%;
  background-color: #0900f4;
  color: white;
  border-radius: 10%;
  height:18px;
  }
  .Mult{
    background-color: #0900f4;
    color: white;
    border-radius: 10%;
    margin: 4%;
  }
  .Subs{
    background-color: #0900f4;
    color: white;
    border-radius: 10%;



  }